{%extends 'index.html'%}
{%block content%}
<div class="content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col feedBox feedBoxSwell">
                    <h1>Hello World.</h1>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col feedBox feedBoxSwell">
                    <h1>Hello World.</h1>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col feedBox feedBoxSwell">
                    <h1>Hello World.</h1>
                </div>
            </div>
        </div>
    </section>
</div>


{%endblock content%}