{%extends 'index.html'%}
{%block content%}
<div class="container text-white d-flex flex-column justify-content-center align-items-center vh-100" style="overflow: auto;">
    <div class="row">
        <div class="col-12">
            <img src="../static/Images/Vito.png" alt="helloWorld?">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-align-center justify-content-center">
            <h3>welcome to my portfolio</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>check out some of my <em><a href="{{url_for('projects')}}">projects ></a></em></h4>
        </div>
    </div>
</div>
{%endblock content%}